<!-- nav heade template, end point will always be logged in so no checks for now -->

<div class="navbar">
    <div class="left">
        <span>CSV Spark </span>
        <div class="create">
            <a href="/create">Create new outlines</a>
        </div>
        <div class="resume">
            <a href="/resume_ai">Create Resume</a>
        </div>
    </div>
    <div class="right">
        <div class="logout">
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
</div>